# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
build/
dist/

# System Files
.DS_Store
Thumbs.db

# Environment Variables (IMPORTANT: keeps secrets safe)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# VS Code Settings (Optional, but often good to ignore personal settings)
.vscode/